body {
  font-family: Arial;
}

.card-collection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.standout {
  box-shadow: rgba(0, 0, 0, 0.16) 0rem 0.1rem 0.4rem,
    rgb(51, 51, 51) 0rem 0rem 0rem 0.3rem;
}

h1,
h2,
h3,
h4,
h5,
p {
  text-align: center;
}

@media only screen and (max-width: 60rem) {
  .card-collection {
    grid-template-columns: 1fr;
  }
}
